@{
    ViewData["Title"] = "Welcome";
}


<h1> Hello </h1>

<figure class="photo red">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample33.jpg" alt="sample33" />
    <figcaption>
        <h2>Whatever  <span> Dude</span></h2>
    </figcaption>
    <a href="#"></a>
</figure>
<figure class="photo red">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample33.jpg" alt="sample33" />
    <figcaption>
        <h2>Whatever  <span> 2</span></h2>
    </figcaption>
    <a href="#"></a>
</figure>
<figure class="photo red">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/331810/sample33.jpg" alt="sample33" />
    <figcaption>
        <h2>Whatever  <span> 3</span></h2>
    </figcaption>
    <a href="#"></a>
</figure>

<a href="/test">Go to Test</a>